
body {
  color:#333;
  text-align:center;
  font-family: arial;
}

.nav {
	margin: 0px 0%;
	padding: 0px;
	margin-left: 213px;
	list-style: none;
}

.nav li {
	float: left;
	width: 	125px;
	position: relative;
}

.nav li a {
	background: #2e3540;
	color: #fff;
	display: block;
	padding: 7px 8px;
	text-decoration: none;
	border: 1px solid white;
}

.nav li a:hover {
	color: #069;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 125px;
	float: left;
}
