#body{
	margin:-10px;
	background-color:#0A0101;
}
#p1{
	font-size:5px;color:#d7d7d7;
}

/*links in navigation*/

a:visited {
background-color:#C5D4D5;  }
a:active {
background-color:#C5D4D5; }
a:hover { 
background-color: #C5D4D5; color:black;padding:0px 0px 0px 0px;}

body#home a#homenav,
body#port a#portnav,
body#team a#teamnav,
body#abt a#abtnav,
body#contact a#connav {
margin:0px;
background-color:#C5D4D5;
color:black;
}

#header {
		img src="pdf/portfolio.png" width="1000" height="200" alt="logo"
        	}
			
#header .shadow1,
 
#header .shadow2,

#header .shadow3,

#header .container {
	position: relative;
	margin-bottom: 7px;
	}
 
	#header .shadow1 {
	    margin-left:auto;
	    margin-right:auto;
		background: #F1F1F1;
		width:1024px;
			}
				
	#header .container {
		height: 111px;
		width:986px;
		/*background-color:#e8e8e8;*/
		background: white;
		border-top: 15px solid #848284;
		border-right: 15px solid #848284;
		border-left: 15px solid #848284;
		border-bottom: px solid black;
		padding:4px 4px 4px 4px;
		
		}
		
		#header .logo{
		background-image:url('../pdf/portfolio.png');
		background-repeat: no-repeat;
		height:200px;
		width:600px;;
		margin-left:280px;
		}
		

/*content*/
	
		
#content{
	width:960px;
    
	margin-left:auto;
	margin-right: auto;
	padding:40px 30px 30px 30px;
	margin-bottom:0px;
	position: relative;
    border-top :thick black solid;
    background-color:#d7d7d7;
    padding-top:0px;
}
	#content .tag{
		width:960px;
		text-align:center;
		font-weight: normal;
		font-family: ubuntu;
		text-align:center;
		font-size: 25px;
		margin-left: auto;
		margin-right: auto;
		margin-top:-66px;
		padding: 0px;
		font-family: 'Ubuntu', sans-serif;
		
		}
		
.aboutContent{text-align:left; font-family: ubuntu;font-size:23px; }
.caption{
	caption-side:bottom;
}

/*team Members*/		
		
.Pic
{
display: block;
margin-left:10px; 
margin-right:35px; 
padding-left:160px;
padding-top:20px; 
font-size:22px; 
text-align:left; 
overflow: inherit;
}
.img
{
	margin:25px 25px;width:220px; height:200px; border:1px solid black; padding:15px 15px; float:left;
	
}

.lightBOXimg{
	width:350px;
	height:350px;
	float:inherit;
	padding:15px 15px;
}

.black_overlay{
			display: none;
			position: fixed;
			top:0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: black;
			z-index:1001;
			opacity:.80;
			filter: alpha(opacity=80);
			opacity: 0.8;
		}
		
.white_content {
			display:none;
			position: fixed;
			top:125px;
			margin-left:auto;
			margin-right:auto;
			padding:10px 10px 5px 10px;
			width: 875px;
			height: 400px;
			border: 5px orange outset;
			background-color: white;
			z-index:1002;
			overflow: auto;
			float:left;
			font-family:ubuntu;
			-moz-border-radius: 15px;
			border-radius: 15px;
		
		}
		
		
.membernames{
	border:thin #d7d7d7 dotted;
	height:30px;
	width:220px;
	margin: -10px 25px -10px 25px;
	padding:5px 15px 5px 15px;
	text-align:center;
    /*background-position:center;*/
	float:left;
	font-family:ubuntu;
	
}
		
/*footer*/	
	
#footer{
    
    border: thin #d7d7d7 ;
    height: 200px;
    background-color:black;
    width:1266px;
}

#footer .addr{
	    width:750px;
	    border:black thin none;
	  	font-weight:normal;
		font-family:asap;
		font-size: 16px;
		margin-left:100px;
		padding-top:0px;
	 	margin-top:-20px;
	 	color:#54A1CF;
    }
#footer .addrimg{
    margin-left:53px;
	background-image:url('../images/addr.png');
	background-position:left;
	background-repeat:no-repeat;
	height:24px;
	padding-top:0px;
}
#footer .nav{
	
	border:white thin none;
	height:60px;
	width:550px;
	float: left;
	margin:3px;
	padding-top:5px;
	
	}
a{
    
	text-decoration:none;
	font-family:ubuntu;
	}


#footer .nav ul{
	list-style:none;
}
#footer .nav ul li{
	float:left;
	border-left: 1px solid #fff;
	padding: 0px 10px;
	font-family: asap;
	color:#FFFFFF;
	
}
#footer .nav li:first-child{
	border:none;
}

#footer .feedback{
	font-weight:normal;
	font-family:asap;
	font-size: 16px;
	margin-top:80px;
	text-align:center;
	color:#54A1CF;
}
#footer .facebook{
	border:black thin none;
	height:50px;
	width:50px;
	float: right;
	margin: 40px -325px 0px 1500px;
	padding-top:5px;
	background-image:url('../images/facebook.png');
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:inherit;
}
#footer .SCG{
	font-weight:normal;
	font-family:asap;
	font-size: 16px;
	border:black thin none;
	margin-top:140px;
	margin-right:50px;
	text-align: right;
	color:#54A1CF;
}


.black{color: #000000;}
.white{color: #FFFFFF;}
.center{ text-align: center; }
.blue{color:#54A1CF;}
		
#content.portfolio 
{
display: block;
margin-left:10px; 
margin-right:10px; 
padding-left:18px;
padding-top:20px; 
font-size:22px; 
text-align:left; 
overflow: inherit;
}

.centerport{ padding-top:700px; font-size:27px; text-align: center; }
.centerMember{ padding-top:25px; font-size:27px; text-align: center; }
.centerPic{overflow: inherit;display: block;margin-left: auto; margin-right: auto; padding-top:25px; font-size:27px; text-align: center;}
.homePics{}
