a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {font-weight:bold; color: red;}

h8 { font-family: sans-serif; font-size: 120%; }


.wrapper {
	background:url('../images/bg5.png') top left repeat;
	margin: 0 auto;
	padding-top: 10px;
 	width: 1210px;
	border-radius: 15px;
	overflow:inherit;
	border: 2px solid white;
 /*   overflow: inherit; trying to get  the image to  b the leangth of the page
   */ 
}
.left_container {
	float: left;
	margin: 10px;
	border-width: 0px;
	border-color: white;
}
.left_container .links {
	border: 2px solid white;
	padding: 10px;
	border-width: 4px;
	border-color: white;
	margin-top:50px;

}
.left_container .links a {
	display: block;
	padding-top: 10px;
	border-width: 4px;
	border-color: white;	

}
a{
	font-size:20px;
	text-decoration:none;
	font-weight:bold;
	color:#ffffff;
}
.contact_link{	
	background-color: #2e3548;
	margin: 0;
	padding: 0;	
	border: px solid white ;
	border-radius: 8px;
	text-decoration:none;
}
.link{	
	background-color: #2e3548;
	margin: 0;
	padding: 0;	
	border: 2px solid white ;
	border-radius: 8px;
	text-decoration:none;
	margin-left:19%;
	margin-right:12%;
}
.link a{
	padding:0px 10px;
}
.link a:hover{
	font-size:20px; font-weight:bold; color: red;
}
.content {
	/*float: left; */
	margin: 10px;
	padding-left: 10px;
	border-width: 1px;
	border-color: Black;
	margin-top:50px;
	margin-bottom:50px;

}
.content .heading {
	border: 0px solid white ;
	margin-bottom:50px;
	border-radius: 15px;

}
.contact{
	border: 2px solid white ;
	margin: 0 auto;
	border-radius: 15px;
    padding-bottom:23px;
	padding-left:23px;
	width:800px;
/*	float:right;*/
	background:gray;
}
.clear {
	clear: both;
}
.content img {
	display: inline;
	border: 2px solid white; 
	
}
.h2  { font-family: "times new roman", serif; }
.h1{font-size:45px; color:#000000;}

.what_i_do{
	margin-top:-33px;
	margin-right: 211px;
	margin-left:200px; 
	border: 2px solid white; 
	font-size: 130%; 
	padding:18px;
	border-radius: 15px;
	background:gray;
}

.red { color: #E01930; font-size: 25px;font-weight: bold;}

.footer{	
	margin-left:211px;
	margin-right:200px;
	margin-top:20px;
	border: 2px solid white ;
	margin-bottom:50px;
	border-radius: 15px;
	text-align:center;
/*	float:bottom; */
}
.footerlink{
		background-color: #2e3548;
		margin-top: 50px;    
		margin-left:525px;
		margin-right:525px;
		border: 2px solid white ;
		border-radius: 8px;
		text-decoration:none;
	color:#2e3548;
	}
.footerlink1{
			background-color: #2e3548;
			margin-top:0px;    
			margin-left:486px;
				margin-right:486px;
			border: 2px solid white ;
			border-radius: 8px;
			text-decoration:none;
		color:#2e3548;
		}
.underimage {
		display: inline-block;
		}

.underimage a {color:#2e3548;
 }			

body 
{
	background-image:url('../images/gl.jpg');
	background-repeat:repeat;
	background-attachment:fixed;
	color: #000000;
}
#youtube{
	border:10px;
}
p {
  font-size: 20px;
  font-weight: bold;
}
.inside{
	padding-top:30;
	position:relative;
}
.footerlinks{	
	background-color: #2e3548;
	margin: 0px 202px;
	padding: 0;	
	border: 2px solid white ;
	border-radius: 8px;
	text-decoration:none;

}

.backlink{
		background-color: #2e3548;
		    
		margin-left:375px;
			margin-right:375px;
		border: 2px solid white ;
		border-radius: 8px;
		text-decoration:none;
	color:#2e3548;
	}

