.header{
padding:0px;
margin:0px ;
padding-bottom:45px;
}
#wrapper{
padding:0px;
border:4px black;
margin:-10px 100px ;
background:black;
padding-bottom:45px;
height:inherit;
background-image:url('../images/line1.jpg');
background-repeat:;
background-attachment:fixed;
color: #000000;

}

.copy{
	color:white;
	text-align:center;
}
.whatIdo{
	padding-top:390px;
	color:white;
	text-align:center;
	padding:50px 65px;
	background-color:black;
	margin:0px 75px;
}
.photos{
	color:white;
	text-align:center;
	padding:20px 65px;
	background-color:black;
	
}
.underimage {
		padding:10px;
		display: inline-block;
		}

.underimage a {color:white;
 }			
	
	
	
	 .contactborder2{
		border-bottom:thin solid white;
		border-left:thin solid white;
		width:230px;
		margin-left:59%;
		margin-top:0px;
		font-size:12px ;
		text-align:center;
		font-family:ubuntu;
		padding:5px 5px 10px 5px;
	}
	
	
	


body 
{
	background-image:url('../images/gl.jpg');
	background-repeat:repeat;
	background-attachment:fixed;
	color: #000000;
}
.story{
	opacity: 0.8;
    height:inherit;
	border:white 3px solid;
	padding:10px 110px;
	font=size:18px;
	text-align:center;
	background-color:black;
	font-size:26px;
}
p{color:white;}
.ytube{
	
	color:white;
	float:right;
	padding-bottom:30px;
	padding-right:240px;
}
/*link box*/
ul#menu {
	    padding-top: 20px;
	text-align:center;
	}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: red;
} 



